<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurora.market"
    android:versionCode="1"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
 
<uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.aurora.market.marketApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppActionTheme" >
        <activity
            android:name="com.aurora.market.MarketMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.picbrowser.PictureViewActivity"
            android:launchMode="singleTop"
            android:configChanges="screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/picture" >
        </activity>

        <!-- 应用列表Activity -->
        <activity
            android:name="com.aurora.market.activity.module.AppListActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	               <data
                    android:host="com.aurora.market.applist"
                    android:scheme="openapplist" />
            </intent-filter>
        </activity>
        <!-- 排行Activity -->
        <activity
            android:name="com.aurora.market.activity.module.AppRankingActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 分类Activity -->
        <activity
            android:name="com.aurora.market.activity.module.CategoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.aurora.market.activity.module.MarketDetailActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.aurora.activity.module.MarketDetailActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aurora.market.activity.setting.MarketManagerPreferenceActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme" >
        </activity>
        <activity
            android:name=".activity.setting.MarketSettingsPreferenceActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme" >
        </activity>
        <activity
            android:name=".activity.setting.UpdateSettingsPreferenceActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme" >
        </activity>
        <activity
            android:name=".activity.module.MarketUpdateActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme" >
        </activity>
        <activity
            android:name=".activity.module.MarketUpdateIgnoredActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme" >
        </activity>

        <!-- 下载管理Activity -->
        <activity
            android:name=".activity.setting.DownloadManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 搜索结果界面 -->
        <activity
            android:name=".activity.module.MarketSearchActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <!-- 专题页 -->
        <activity
            android:name=".activity.module.SpecialActivity"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize"
            android:theme="@style/AppMarketTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 下载服务 -->
        <service android:name="com.aurora.market.service.AppDownloadService" >
        </service>
        <!-- 安装服务 -->
        <service android:name="com.aurora.market.service.AppInstallService" >
        </service>
        <!-- 自动更新服务 -->
        <service android:name="com.aurora.market.service.AutoUpdateService" >
        </service>
        <!-- 包接收器 -->
        <receiver android:name="com.aurora.market.receiver.PackageReceive" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 网络改变接收器 -->
        <receiver android:name="com.aurora.market.receiver.NetWorkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.aurora.market.install.CleanUpIntent" >
            <intent-filter>
                <action android:name="notification_installed_cancelled" />
                <action android:name="notification_failed_cancelled" />
            </intent-filter>
        </receiver>
        <!-- 关机接收器 -->
        <receiver android:name="com.aurora.market.receiver.ShutdownReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>