<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2006 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.incallui"
    coreApp="true">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL" />
    <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL" />
    <uses-permission android:name="android.permission.ALLOW_ANY_CODEC_FOR_PLAYBACK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- M: support SmartBook screen on/off -->
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <!-- This tells the activity manager to not delay any of our activity
     start requests, even if they happen immediately after the user
     presses home. -->
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
    <!-- M: for IP call -->
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <!-- M: for InCallUI disable status bar -->
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <!-- M: for InCallUI send sms -->
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <!-- M: for using query speeddial -->
    <uses-permission android:name="android.permission.READ_SPEED_DIAL" />
    
    <!-- M: ALPS01844813 used for RCSe plugin -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="com.yulore.permossion.ACCESS_YULORE_SERVICE" />
      <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name="InCallApp"
        android:label="@string/inCallLabel"
        android:icon="@mipmap/ic_launcher_phone"
        android:hardwareAccelerated="true"
        android:supportsRtl="true">

        <!-- Main in-call UI activity.  This is never launched directly
             from outside the phone app; instead, it's either launched by
             the OutgoingCallBroadcaster (for outgoing calls), or as the
             fullScreenIntent of a notification (for incoming calls.) -->
        <activity android:name="com.android.incallui.InCallActivity"
                  android:theme="@style/Theme.InCallScreen"
                  android:label="@string/phoneAppLabel"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:configChanges="keyboardHidden"
                  android:exported="false"
                  android:screenOrientation="nosensor" >
        </activity>

        <activity android:name="com.android.incallui.CircularRevealActivity"
                  android:theme="@style/Theme.CircularRevealAnimation"
                  android:exported="false"
                  android:configChanges="keyboardHidden|orientation"
                  android:launchMode="singleInstance"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:screenOrientation="nosensor" />

        <!-- BroadcastReceiver for receiving Intents from Notification mechanism. -->
        <receiver android:name="com.android.incallui.InCallApp$NotificationBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.android.incallui.ACTION_HANG_UP_ONGOING_CALL" />
            </intent-filter>
        </receiver>

        <service android:name="com.android.incallui.InCallServiceImpl"
                 android:permission="android.permission.BIND_INCALL_SERVICE" >
            <intent-filter>
                <action android:name="android.telecom.InCallService"/>
            </intent-filter>
        </service>
      

        <!-- L MR1 migration removed incallui process -->
        <!-- for VoLTE Conference Call begin-->
        <activity android:name="com.mediatek.incallui.volte.AddMemberScreen"
           android:theme="@*android:style/Theme.Holo.Light.Dialog.Alert"
           android:excludeFromRecents="true"
           android:taskAffinity="com.mediatek.incallui.volte" />
        <!-- for VoLTE Conference Call end-->

        <!-- BroadcastReceiver for receiving Intents from Telecom after InCallService killed abnormally. -->
        <receiver android:name="com.mediatek.incallui.InCallBroadcastReceiver"
            android:permission="android.permission.BIND_INCALL_SERVICE" >
            <intent-filter android:priority="1000" >
                <action android:name="com.android.incallui.ACTION_UPDATE_UI_FORCED" />
            </intent-filter>
        </receiver>
        
        <!--aurora add liguangyu 20131114 for voice recording start -->
        <service android:name="com.android.incallui.PhoneRecorderServices"></service>
        <!--aurora add liguangyu 20131114 for voice recording end -->
        
        <receiver android:name=".RecordReceiver">
           <intent-filter>
                <action android:name="com.android.contacts.AURORA_CALL_RECORD_ACTION" />
           </intent-filter>
        </receiver>
    </application>
</manifest>
