<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:com.aurora="http://schemas.android.com/apk/res/com.aurora"
    package="com.aurora.change"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.645" >
</manifest>
